@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: regular;
    color: #3a3a3a;
    font-size: 16px;
}

h1,
h2,
h3 {
    font-family: lato, sans-serif;
    color: #958270;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 4px;
}

h1 {
    font-size: 180%;
}

h2 {
    font-size: 140%;
}

nav {
    margin: 10px;
}

/*Styling the logo */
#logo {
    font-size: 250%;
    text-decoration: none;
    color: #958270;
    display: inline;
}

nav a:first-of-type {
    text-decoration: none;
}

nav a:not(:first-of-type) {
    padding: 10px;
    padding-top: 20px;
}


.push {
    margin-left: auto;
}

/* style the menu links*/
nav {
    text-align: center;
    right: 1%;
    top: 8%;
    margin-right: 2%;
    display: flex;
}

#menu>a {
    font-size: 100%;
    color: #3a3a3a;
    font-weight: bold;
    margin-right: 5px;
}

/* center the title and the paragraph of promise*/
#promise-title {

    font-size: 32px;
    letter-spacing: 3px;
    margin-top: 25px;

}

#promise {
    text-align: center;
    margin-top: 40px;
    font-size: 23px;

}

#promise p {
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
    
}

/* style the hero image*/

#image-home {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background: url('./images/hero.jpeg') no-repeat;
}
/* style the footer*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    height: 150px;
}
.social-media {
    display: inline;
}
.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 4%;
    color: #0000FF;
} 

/* style the 3 squares to be centered*/

#healthy{
    text-align: center;
}


.container-healthy{
    border: 1px solid black;
    position: absolute;
    width: 400px;
    height: 100px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -50px;

    }
.box-healthy{
    background-color: #958270;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    
        }

    #prevention-title {

        font-size: 32px;
        letter-spacing: 3px;
        margin-top: 100px;
        color:#3a3a3a
    
    }
